<footer class="footer bg-white mt-3">
  <section class="container">
    <div class='row'>
      <div class="col-lg-3 col-md-6">
        <div class="list-group">
          <p>關於我們</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="#">關於台灣貴金屬</a></li>
            <li class="list-group-item"><a href="#">隱私權保護政策</a></li>
            <li class="list-group-item"><a href="#">服務條款</a></li>
          </ul>   
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="list-group">
          <p>聯絡我們</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="#">02-2799-2610</a></li>
            <li class="list-group-item"><a href="#">業務合作洽談</a></li>
          </ul>   
        </div>      
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="list-group">
          <p class="menu-label">產品專區</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="#">產品優勢</a></li>
            <li class="list-group-item"><a href="#">產品展示</a></li>
            <li class="list-group-item"><a href="#">經銷商</a></li>
          </ul>   
        </div>      
      </div>   
      <div class="col-lg-3 col-md-6">
        <div class="list-group">
          <p class="menu-label">顧客服務</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="#">預購商品查詢</a></li>
            <li class="list-group-item"><a href="#">訂單出貨查詢</a></li>
            <li class="list-group-item"><a href="#">配送進度查詢</a></li>
          </ul>   
          </div>
        </div>      
      </div>     
    </div>
  </section>
</footer>