<section class="subscribe section subscribe bg-light text-white text-center">
  <div class="container">
    <div class='row'>
      <form action="#", class='col-12'>
        <div class="input-group mb-5 mt-5">
          <input type="email" placeholder="請輸入您的 Email 信箱" class="form-control" aria-label="Recipient's email" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">訂閱電子報</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
