<style>

@media (max-width: 992px){
  .page{
    height: calc(1em + 1rem + 21px);
    font-size: 3rem;
  }
}
</style>


<section class="subscribe section subscribe bg-light text-white text-center" data-controller='subscribe'>
  <div class="container">
    <div class='row'>
      <form action="#", class='col-12'>
        <div class="input-group mb-5 mt-5">
          <input type="email" data-target="subscribe.email" placeholder="請輸入Email 信箱" class="form-control page" aria-label="Recipient's email" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" data-action="subscribe#add" type="button">訂閱電子報</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
