<style>

@media (max-width: 992px){
  h1{
    font-size: 6rem;
  }
}
</style>

<% if @refine_order.result_weight == nil %>
  <h1>提煉報告等待中...</h1>
<% else %>
  <h1>提煉報告</h1>
  <%= render 'list_report', refine_order: @refine_order %>
<% end %>

<br>
<br>

