<style>
  @media (max-width: 992px){
    .display-4{
      text-align: center;
      font-size: 7rem;
    }
    .lead{
      text-align: center;
      font-size: 55px;
    }
    .content{
      text-align: center;
      font-size: 80px;
    }
    #chart_img{
      width: 880px;
      height: 500px;
      text-align: center;
    }
  }
  .content{
    font-size: 24px;
  }

</style>

<div class="bg-white p-5">
  <div class="row">
      <div class="col-lg-6 col-sm-12">
        <div>
          <h1 class="display-4">台灣貴金屬</h1>
          <hr>
        </div>
        <% if user_signed_in? %>
          <p class="lead"> Free up your mental space </p>
          <div class='container'>
            <br>
            <br>
            <%= render 'shared/frontend/chart' if user_signed_in? %>
          </div>
        <% else %>
          <div>
            <p class="lead"> 黃金走勢圖 &nbsp;即時更新請&nbsp;<a class="reload" href="javascript:location.reload()">按此</a></p>
            <img src="https://www.kitco.com/images/live/gold.gif" id="chart_img" width="640" height="295" alt="Live 24 hour Gold Chart">
          </div>
        <% end %>
      </div>
    <div class="col-lg-6 col-sm-12">
      <img src="https://images.unsplash.com/photo-1565373679107-344d38dbf734?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" style="width:100%">
    </div>
  </div>
</div>
<%= render 'shared/frontend/subscribe' %>

