<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>重量</th>
      <th>單價</th>
      <th>合計</th>
      <th>買賣別</th>
    </tr>
  </thead>
  
  <tbody id='closed_commodities'>
    <% @commodities.closed(current_user.id).each do |commodity| %>
      <%= render 'commodities/closed_commodity', commodity: commodity %>
    <% end %>
  </tbody>
</table>